@use '../../Style/Colors.scss' as *;
@use '../../Style/Fonts.scss' as *;
.button {
    height: 60px;
    width: 216px;
    border: none;
    color: black;
    border-radius: 10px;
    font-family: 'Anton';
    font-size: 1.5rem;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    &__icon {
        height: 1.5rem;
        margin-left: 1.5rem;
    }
}