@font-face {
    font-family: 'Tropical Times';
    src: url('../assets/Fonts/TropicalTimes-Regular.woff2') format('woff2'),
        url('../assets/Fonts/TropicalTimes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tropical Times';
    src: url('../assets/Fonts/TropicalTimes-Regular.woff2') format('woff2'),
        url('../assets/Fonts/TropicalTimes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anton';
    src: url('../assets/Fonts/Anton-Regular.woff2') format('woff2'),
        url('../assets/Fonts/Anton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}