@use '../../Style/Colors.scss' as *;
@use '../../Style/Fonts.scss' as *;


.footer {
    background-color: $MainDark;
    color: $MainLight;
    height: 20vh;
    padding: 1.5rem;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'anton', sans-serif;
}